.dropdown-menu-BO {
    width: auto;
}

.dropdown-item-BO {
    font-size: .8rem;
    text-align: right;
}

header.mastheadBO, header.mastheadSimple {
    /*padding-top: 10rem;*/
    padding-top: 135px;
}
